
{{#each all}}

    <li class="nav-item">
        <a href="{{url}}" class="nav-link text-capitalize link-dark"> {{title}} </a>
        <small class="text-muted fst-italic"> - {{date}} </small>
    </li>

{{/each}}