
{{#each frontpage}}

    <div class="mb-5">
        <div class="text-center">
            <div data-htsa-id="statisticsValue"> {{value}} </div>
            <div data-htsa-id="statisticsLabel"> {{label}} </div>
        </div>
    </div>

{{/each}}