
{{#each featured}}

    <div>
        <div class="ui fluid card rounded-0">
            <div class="htsa-background-image htsa-background-image-scroll" style="background-image: url('{{thumbnail}}');"></div>
            <div class="content">
                <h1 class="text-capitalize fw-bolder htsa-ff-roboto-slab mb-3"> {{title}} </h1>
                <p class="mb-3 d-none d-md-block"> {{$stringExcerpt content}} </p>
                <a href="{{url}}" class="ui yellow right labeled icon button text-dark text-capitalize rounded-0">read article <i class="long arrow alternate right icon"></i> </a>
            </div>
        </div>
    </div>

{{/each}}