
{{#if ($not_empty_array all)}}

    <div class="row flex-column gy-4">

        {{#each all}}

            <div>
                <div class="border">
                    <div class="d-flex flex-wrap">
                        <div class="col-12 col-lg-6 order-last">
                            <div class="htsa-background-image htsa-background-image-scroll" style="background-image: url('{{thumbnail}}');"></div>
                        </div>
                        <div class="col-12 col-lg-6 p-3">
                            <h1 class="text-capitalize h3"> {{name}} </h1>
                            <span class="text-primary">Location: </span> <span class="text-capitalize"> {{location}} </span>
                            <div class="ui hidden divider"></div>
                            <p> {{address}} </p>
                        </div>
                    </div>
                </div>
            </div>

        {{/each}}

    </div>

{{/if}}